/* Estilos del cuerpo de la página web */
body {
      background-color: aliceblue; /* Color de fondo */
      font-family: 'Courier New', Courier, monospace;
      text-align: center; /* Centra el texto y elementos en línea */
      padding-top: 50px; /* Espacio superior */
}

/* Estilos para la tarjeta de presentación */
.perfil {
        max-width: 400px;
        margin: 0 auto; /* Centra el bloque en la página */
        background-color: aquamarine; /* Fondo aguamarina*/
        border-radius: 10px; /* Bordes redondeados */
        padding: 30px;
}

/* Estilos de la imagen */
#foto {
    width: 150px;
    height: 150px;
    border-radius: 50%; /*Hace que la imagen sea un círculo */
    margin-bottom: 20px; /* Espacio inferior */
}

/*Estilos del encabezado principal*/
h1 {
    color: blueviolet; 
    margin-top: 10px;
}

/*Estilos de la introducción*/
.intro {
    color: brown;
    margin-bottom: 25px;
}

/*Estilos de la lista*/
ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

/* Estilo de los enlaces */
a {
    color: green;
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
}

a:hover {
    color: red; /* Hover para interactividad */
}
